<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/admin.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
    <title>Edición</title>
    <link rel="shortcut icon" href="/img/logo 1.png" type="image/x-icon">

</head>

<body>
    <%- include('../partials/header.ejs')%>
        <main>
            <form action="/editar/<%= productos.id %>?_method=PUT" method="POST" >
                <div class="initial">
                    <h3>Edición de producto</h3>
                </div>
                <div class="adminForm formRight-side">
                    <div>
                        <div>
                            <label for="">Producto</label>
                            <input type="text" placeholder="Nombre del producto" name="name" id="name" value="<%= productos.nombre %>">
                        </div>
                        <div>
                            <label for="">Precio</label>
                            <input type="text" placeholder="Precio" name="precio" id="precio" value="<%= productos.precio %>">
                        </div>
                        <div>
                            <label for="">Equipo</label>
                            <select name="team" id="team" >
                                <!-- <option value="" <%= productos.equipoId  === '' ? 'selected' : '' %>>Ninguno</option>
                                <option value="boca" <%= productos.equipoId  === 1 ? 'selected' : '' %>>Boca Junior</option>
                                <option value="river" <%= productos.equipoId  === 2 ? 'selected' : '' %>>River</option>
                                <option value="estudiantes" <%= productos.equipoId  === 3 ? 'selected' : '' %>>Estudiantes</option>
                                -->
                                <% for(let i=0; i< equipos.length; i++) { %>
                                    <% if(equipos[i].id == productos.equipoId){ %>
                                        <option value="<%= equipos[i].id %>" selected>
                                            <%= equipos[i].nombre %>
                                        </option>
                                    <% } else { %>
                                        <option value="<%= equipos[i].id %>">
                                            <%= equipos[i].nombre %>
                                        </option>
                                    <% } %>
                                <% } %> 
                            </select>
                        </div>
                        <div>
                            <label for="">Talle</label>
                            <select name="talle" id="talle">
                                <option value="s" <%= productos.talle === 's' ? 'selected' : '' %> >S</option>
                                <option value="m" <%= productos.talle === 'm' ? 'selected' : '' %>>M</option>
                                <option value="l" <%= productos.talle === 'l' ? 'selected' : '' %>>L</option>
                                <option value="xl" <%= productos.talle === 'xl' ? 'selected' : '' %>>XL</option>
                                <option value="xxl" <%= productos.talle === 'xxl' ? 'selected' : '' %>>XXL</option>
                            </select>
                        </div>
                        <div class="textArea">
                            <label for="">Descripción</label>
                            <input type="textarea" name ="description" id="description" value="<%= productos.descripcion %>">
                        </div>
                        <div>
                            <label for="">Liga</label>
                            <select name="liga" id="liga" >
                                <option value="1" <%= productos.liga === 'otra' ? 'selected' : '' %>>Otra</option>
                                <option value="2" <%= productos.liga === 'arg' ? 'selected' : '' %> >Prof. Argentina</option>
                                <option value="3" <%= productos.liga === 'champion' ? 'selected' : '' %> >Champions League</option>
                            </select>
                        </div>
                        <div>
                            <label for="">Stock</label>
                            <input type="text" placeholder="stock" name="stock" id="stock" value="<%= productos.stock %>">
                        </div>
                        <div>
                            <label for="">Marca</label>
                            <select name="marca" id="marca" >
                                <!-- <option value="adidas" <%= productos.marca  === 'adidas' ? 'selected' : '' %>>Adidas</option>
                                <option value="nike" <%= productos.marca  === 'nike' ? 'selected' : '' %>>Nike</option> -->
                                <% for(let i=0; i< marcas.length; i++) { %>
                                    <% if(marcas[i].id == productos.marcaId){ %>
                                        <option value="<%= marcas[i].id %>" selected>
                                            <%= marcas[i].nombre %>
                                        </option>
                                    <% } else { %>
                                        <option value="<%= marcas[i].id %>">
                                            <%= marcas[i].nombre %>
                                        </option>
                                    <% } %>
                                   
                                <% } %> 
                            </select>
                        </div>
                        <div>
                            <label for="">Categoria</label>
                            <select name="category" id="category" >
                                <option value="short" <%= productos.category  === 'short' ? 'selected' : '' %> >Short</option>
                                <option value="camiseta" <%= productos.category  === 'camiseta' ? 'selected' : '' %>>Camiseta</option>
                            </select>
                        </div>
                        <div class="imgProduct">
                            <input type="file" value="<%= productos.url_foto %>">
                        </div>

                    </div>
                    <div>
                        <button type="submit"><i class="fas fa-save"></i></button>
                    </div>
                </div>
            </form>

        </main>
        <br>
</body>

<%- include('../partials/footer.ejs')%>

</html>